.toggleVisibilityColumns,
.globalFilter,
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.globalFilter {
    color: white;
    background-color: #5f5f5f;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table td,
table th {
    padding: 8px;

    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
    background-color: #4caf50;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination input {
    width: 50px;
}

.pagination span,
.pagination select {
    margin: 0 15px;
}

.pagination button {
    font-size: 15px;

    margin: 0 3px;
    padding: 5px;
    color: #fff;
    border: none #4caf50;
    outline: none;
    background-color: #4caf50;
}

.pagination button:hover {
    cursor: pointer;
    background-color: #46a049;
}

.pagination button:disabled {
    background-color: rgba(95, 203, 95, .50);
}

code,
pre {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 15px;
    padding: 0 3px 2px;
    color: #333;
    border-radius: 3px 3px 3px 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
}

pre {
    font-size: 13px;
    line-height: 20px;
    display: block;

    width: 450px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px 4px 4px 4px;
    background-color: #f5f5f5;
}
